body {
	padding-bottom: ;
}

.item {
    position:relative;
    padding-top:12px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right:-10px;
    top:20px;
    background:gray;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    color:white;
    padding:1px 8px;
    font-size:14px;
}

.whatsapp-perfil{
    position: absolute;
    right:260px;
    top:50px;
    text-align: center;
    border-radius: 50%;
    border:0;
    padding:1px 1px;
    font-size:14px;
}





